<filepath="image0.bmp" id="image0" colfmt=4 />
<filepath="image1.bmp" id="image1" colfmt=4 />
<filepath="image2.bmp" id="image2" colfmt=4 />
<filepath="image3.bmp" id="image3" colfmt=4 />
<filepath="image4.bmp" id="image4" colfmt=4 />
<filepath="image5.bmp" id="image5" colfmt=4 />
<filepath="image6.bmp" id="image6" colfmt=4 />
<filepath="image7.bmp" id="image7" colfmt=4 />
<filepath="pix.bmp" id="pix" colfmt=4 />
